In [1]:
"%10.4f"

'%10.4f'

In [2]:
"10.4f"%3.42134234

TypeError: not all arguments converted during string formatting

In [3]:
"i eat 3 apples".format(3)

'i eat 3 apples'

In [4]:
number=3
"i eat {0} apples". format(number)

'i eat 3 apples'

In [5]:
number=10
day="three"
"i ate {0} apples. so i was sick for {1} days". format(number,day)

'i ate 10 apples. so i was sick for three days'

In [3]:
"i ate {number} apples. so i was sick for {day} days.".format(number=10, day=3)

'i ate 10 apples. so i was sick for 3 days.'

In [4]:
"i ate {0} apples. so i was sick for {day} days". format(10, day=3)

'i ate 10 apples. so i was sick for 3 days'

In [5]:
"i eat %d apples." %3

'i eat 3 apples.'

In [6]:
"i eat $s apples." $ "five"

SyntaxError: invalid syntax (973261886.py, line 1)

In [7]:
"i eat %s apples." % "five"

'i eat five apples.'

In [9]:
name= "홍길동"
age= 30
f'나의 이름은 {name}입니다. 나이는 {age} 입니다.'

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

In [10]:
age=39
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 40살이 된다.'

In [11]:
y=3.42134234
f'{y:0.4f}' # 소수점 4자리까지만 표현

'3.4213'

In [12]:
f'{y:10.4f}'

'    3.4213'

In [13]:
f'{and}'

SyntaxError: f-string: invalid syntax (3362877543.py, line 1)

In [14]:
f'{{and}}'

'{and}'

In [15]:
a= "Life is too short, You need Python"
b= a[0]+a[1]+a[2]+a[3]
b

'Life'

In [16]:
a="hobby"
a.count('b')

2

In [17]:
a="Life is too short"
a.find('t')

8

In [18]:
a="Life is too short"
a.index('g')

ValueError: substring not found

In [19]:
# 선생님이 내주시는 문제 1 .format 함수 또는 f 문자열 포맷팅을 사용해 !!!python!!! 문자열 출력을 해보세요.

In [24]:
print("{0:!^12}".format('python'))

!!!python!!!

In [25]:
",".join('abcd')

'a,b,c,d'

In [28]:
a="HI"
a.lower()

'hi'

In [37]:
#문제2 문자열 인덱싱 "python is good" 문자열을 string 변수에 저장하고 2번쨰 위치에 있는 문자 y를 출력하세요.

In [33]:
# 문제 3 문자열 슬라이싱 "python is good" 문자열을 string변수에 저장하고 문자 good를 출력하시오

In [34]:
# 문제 4 hi문자열을 변수에 저장하고 10번 반복하여 출력하시오.(문자열 연산)

In [35]:
# 문제 5  문자열 인덱싱 -ur1 변수에 "www.naver.com" 주소를 저장하고 규칙에 따라 비번을 만들어 pw 변수에 저장하고 출력하세요
비밀번호 생성규칙
1.홀수자리의 위치에 있는 글자들과 마지막에 "!! 더하여 비번을 생성한다.(단,위치 값은 0부터 시작한다.)

SyntaxError: unterminated string literal (detected at line 3) (3264723712.py, line 3)

In [41]:
food="python's favorite food is perl"
food

"python's favorite food is perl"

In [43]:
say= "\"python is very easy\" he says."
say

'"python is very easy" he says.'

SyntaxError: incomplete input (238282746.py, line 1)

In [91]:
a=" hi"
a.lstrip()

'hi'

In [92]:
a=" hi "
a.rstrip()

' hi'

In [63]:
a="life is too short"
a.replace("life","your leg")

'your leg is too short'

In [64]:
a="Life is too short"
a.split()
['life','is','too','short']

['life', 'is', 'too', 'short']

In [65]:
b="a,b,c,d"
b.split(':')

['a,b,c,d']

In [79]:
multiline="""
Life is too short
you need python
"""
print(multiline)

Life is too short
you need python

In [81]:
multiline='''
life is too short
you need python
'''
print(multiline)

life is too short
you need python

In [82]:
#문제 2 풀이
string="python is good"
string[1]

'y'

In [83]:
# 문제 3 풀이
string="python is good"
string[10:]

'good'

In [85]:
# 문제 3 풀이 2
string="python is good"
print(string[-4:])

good

In [86]:
# 문제 3 풀이 3
string="python is good"
print(string[10:15])

good

In [87]:
# 문제 4
hi1="hi"
hi1*10

'hihihihihihihihihihi'

In [90]:
# 문제 5 풀이
url= "www.naver.com"
pw= url[1]+url[3]+url[5]+url[7]+url[9]+url[11]+"!!"
pw

'w.ae.o!!'

In [93]:
# 문제 6
#아래의 전화번호에서 대쉬('-'를 제거하고 출력하세요)
phone_number = "010-1111-2222"

In [98]:
phone_number= "010-8529-2911"
phone_number.replace("-","")

'01085292911'

In [99]:
# 문제7
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요
string="abcdef2a3454a56a"

In [100]:
string="abcdef2a3454a56a"
string.replace("a","A")

'Abcdef2A3454A56A'

In [101]:
b="a:b:c:d"
b.split('a')

['', ':b:c:d']

In [102]:
a='hi'
a.upper()

'HI'

In [6]:
me = ["yangwon"]
tup = tuple(me)

print(tup)

('yangwon',)

In [8]:
my_list = ["yangwon"]
my_string = str(my_list)
print(my_string)

['yangwon']