In [77]:
# 리스트 자료형

# 리스트(List): 순서 중복 수정 삭제 가능. 즉 자유도가 높음. -> 기호표시 []
# 튜플(Tuple): 순서, 중복 가능, but 추가, 수정, 삭제 불가 -> ()
# 딕셔너리(dictionary): 순서나 중복 없음. 단지 수정 삭제 가능. ->{}
# 집합(set): 순서, 중복 불가능. 추가,삭제 가능 -> set()
# 5
# 리스트 상세설명

In [78]:
odd=[1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [79]:
a=[] # 빈 리스트
a=list() # 빈 리스트. 그러나 1번이 철자가 더 적기에 널리 애용
b=[1,2,3] # 숫자형만을 가진 리스트
b=list(1,2,3) # 숫자형만을 가진 리스트
c=['life', 'is','too', 'short'] # 문자열만을 가진 리스트
d=[1,2,'life','is'] # 숫자와 문자열 모두 가진 리스트
e=[1,2,['life','is']] # 리스트 안의 또 다른 리스트를 가진 리스트

TypeError: list expected at most 1 argument, got 3

In [ ]:
# 리스트 인덱싱
a=[1,2,3]
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0]+a[2] # a는1,2,3이 있으니 a의 0번 인덱싱은 1. 2번 인덱싱은 3. 즉 1+3=4

4

In [ ]:
a[-1] # 오른쪽에서부터 세는 것.

3

In [ ]:
>>> a = [1, 2, 3, ['a', 'b', 'c']] # a,b,c는 원소 하나.

In [ ]:
print(a[0]) # 1 -> 위의 것을 실행을 해야 함. 그러면 위의것은 덮어 씌워짐.
print(a[-1]) # ['a','b','c']
print(a[3]) # ['a','b''c']

1
['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
a[-1][0] # a. 123[abc] 의 a를 뽑아낼 때.

'a'

In [ ]:
>>> a = [1, 2, ['a', 'b', ['Life', 'is']]] # 3중 리스트. 대괄호 세개를 사용해서.
   #     0   1           2
  #              0   1         2               # 인덱싱한 것.
#                             0       1

In [ ]:
a[2][2][1] # 3중 리스트. 그러나 3중은 잘 가지 않음. ai에서는 사용하니 그때 보기로.

'is'

In [ ]:
# 리스트의 슬라이싱
a=[1,2,3,4,5] # 문자열이 아닌 리스트.
a[0:2] # 인덱스 번호가 0~1까지 또 다른 리스트를 가져온다는 것

[1, 2]

In [ ]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]
print(b) # b를 출력한다는 뜻. 즉 2까지를.
print(c) # c를 출력한다는 뜻. 3,4,5

[1, 2]
[3, 4, 5]

In [ ]:
# 중첩된 리스트에서 슬라이싱 하기.
a=[1,2,3,['a','b','c']]
a[2:5]

[3, ['a', 'b', 'c']]

In [ ]:
# 중첩된 리스트에서 슬라이싱 하기 2
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5]) # [3,['a','b','c'],4] #a에서 세번째부터 다섯번째까지의 인덱싱을 출력하라. 즉 abc45
print(a[3][:2]) #['a','b'] # a함수 3인 abc에서 두번째까지를 출력하라. 즉 a,b

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [ ]:
# 리스트 더하기(+)
a=[1,2,3]
b=[4,5,6] # 문자열의 더함과 똑같음. 인덱싱끼리 더하는것이 아닌 나열.
a+b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 문제 1
# a=[1,2,3,4,5] 리스트에서 슬라이싱 기법을 사용해서 리스트 [2,3]을 출력하세요
a=[1,2,3,4,5]
a[1:3] # 1은 인덱싱 0, 2는 인덱싱 1, 3은 인덱싱 2. 인덱스 번호 1번과 2번을 출력해야하니 첫번째에서부터 3 전까지. 2:3

[2, 3]

In [ ]:
# 리스트 반복하기(*) 같은것을 제곱하는것과 상동
a=[1,2,3,]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 구하기
len(a) # 위에 이미 a변수가 있으니 굳이 a=[1,2,3]을 칠 필요가 없다.

3

In [ ]:
# 초보자가 범하기 쉬운 리스트 연산 오류. 숫자와 문자는 더할 수 없음. 즉 오류
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
str(a[2])+"hi" # 윗 터미널에서 볼 수 있듯이 str을 추가하면 문자와 숫자의 연산이 가능. 
# str= 정수나 실수를 문자열로 바꾸어 주는 파이썬의 내장 함수.

'3hi'

In [ ]:
# 리스트의 값 수정하기.
# 문자열은 수정이 불가하지만 리스트는 가능하다.
a=[1,2,3]
print(a[2]) # a2를 3이 아닌 4로 강제로 수정을 하였음.

a # 수정을 하였으니 시프트 엔터를 눌러도 1,2,4가 뜸

3
4

[1, 2, 4]

In [ ]:
# del이라는 함수를 사용해 리스트의 요소 삭제하기
a=[1,2,3] #a 변수엔 1,2,3이 있다.
del a[1] # a 변수에 1번째 인덱스를 지워라.
a # 그 후 a를 출력하라. 즉 1,3

[1, 3]

In [ ]:
# 객체. 파이선에서 사용되는 모든 자료형을 뜻함.
# 추가적으로 슬라이싱 기법을 사용하여 리스트의 요소 여러개를 한번에 삭제도 가능.
ㅁ=[1,2,3,4,5]
del ㅁ[2:] #del: 객체. del은 파이썬이 자체적으로 가지고 있는 삭제함수.
ㅁ

[1, 2]

In [ ]:
# 리스트 관련 함수
# 리스트에 요소 추가하기 -append(덧붙이다, 첨부하다.)
a=[1,2,3]
a.append(4) # 4를 추가한다.
a

[1, 2, 3, 4]

In [ ]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6], [5, 6]]

In [ ]:
a

[1, 2, 3, 4, [5, 6], [5, 6]]

In [ ]:
# 삭제하고 싶을땐 del
del a[4]
a

[1, 2, 3, 4]

In [ ]:
#중복도 가능.
a=[1,2,3,3,4]
a

[1, 2, 3, 3, 4]

In [ ]:
a.append([5,6])
a

[1, 2, 3, 3, 4, [5, 6]]

In [ ]:
# 리스트 정렬 함수 -sort
a=[1,3,4,2]
a.sort() # a 변수를 정렬하라.
a

[1, 2, 3, 4]

In [ ]:
# 문자도 정렬 가능 - sort
a=['a','b','d','c']
a.sort()
a

['a', 'b', 'c', 'd']

In [ ]:
# 책에 없는 것.
a=['cb','ad','da']
a.sort()
a

['ad', 'cb', 'da']

In [ ]:
a=['ab','ad','ca']
a.sort() # 제일 왼쪽에 있는 문자열을 기준으로 정렬. 백과사전과 같이. 왼쪽의 문자열이 같다면 다음 문자를 기준으로
a

['ab', 'ad', 'ca']

In [ ]:
# 리스트 뒤집기- reverse
a=['a','c','b'] # 정렬이 아닌 뒤집기

a.reverse()
a

['b', 'c', 'a']

In [ ]:
# 인덱스 반환도 가능. - index
a=[1,2,3]
a.index(3) # 값을 기준으로 인덱스가 어디있는지를 알기 위함. 3은 인덱스 2에 있음. 역으로 없는것을 찾으려하면 에러.
a.index(0) # 에러가 뜸. 0은 리스트에 없다면서 밸류 에러가 뜸. 에러 내용을 잘 보고 판단해야 픽스가 쉬움. 힌트임.

ValueError: 0 is not in list

In [ ]:
a=['a','b','d','c']
a.sort()
a.reverse() # 함수 두개 동시 사용 가능.
a

['d', 'c', 'b', 'a']

In [ ]:
# 리스트에 요소 삽입 -insert. 도중에 값을 넣을 수 있음. 어펜드는 뒤에만 삽입이 가능하고.
a=[1,2,3]
# insert(인수1,2)-> 인수1:index번호. 인수2:값
a.insert(0,4) # 0번째 인덱스에 4값을 넣는다는 뜻. 0과 4를 넣는다는것이 아닌. 즉 인수 1,2,3이 밀려서 4가 앞에 뜸
a

[4, 1, 2, 3]

In [ ]:
a.insert(0,[1,2]) # 걍 연습. 대괄호를 넣어서도 추가 가능.
a

[[1, 2], [1, 2], 12, 4, 1, 2, 3]

In [ ]:
a=[1,2,3]
a.insert([1,5])  # 3번째 인덱스에 5값을 넣음
a

TypeError: insert expected 2 arguments, got 1

In [87]:
# 리스트 요소 제거- remove 델은 객체를 넣는거고 리무브는 인수 값을 넣음
a=[1,2,3,1,2,3] # d위치가 아닌 값 3을 지우겠다는 것. 두번째 인덱스를 지우고싶다면?
a.remove(3) # 제일 왼쪽에 있는 3을 지울 수 있음.
a

[1, 2, 1, 2, 3]

In [88]:
a.remove(3)

In [89]:
a # 오류가 뜨면 처음부터 다시 돌려보면 됨

[1, 2, 1, 2]

In [83]:
a.remove(4) # 4가 없는데 삭제하라니까 에러가 뜸.

ValueError: list.remove(x): x not in list

In [90]:
# 리스트 요소 끄집어내기 -pop
a=[1,2,3] # 리스트의 맨 마지막 요소를 리턴하고 그요소는 삭제하는 것.
a.pop()

3

In [92]:
# 리스트에 포함된 요소 x의 개수 세기- count. 리스트 안에 지정한 값x가 몇개있나 세는 것
a=[1,2,3,1]
a.count(1) # 1이 몇개 있나 세라. 2개 있으니 2. 2가 몇개 있나 세라고 count(2)를 하면 1이 나올테지.

2

In [93]:
# 리스트 확장- expend. 잘 안쓰이긴 함. x에는 리스트만 올 수 있음. 리스트만 받을 경우에 주로 사용.
#원래 a리스트에 x리스트를 더하게 됨.
a=[1,2,3,]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [95]:
b=[6,7,]
a.extend(b)
a #

[1, 2, 3, 4, 5, 6, 7, 6, 7]

In [96]:
a.extend([4,5]) # [1,2,3,4,5,6,7,4,5] -> a+=[4,5] 복합연산자 +=와 동일한 표현식.
#

In [4]:
# 문제2 
a=["아이언맨","헐크","스파이더맨"]
a

# 선생님 답
std_list=["아이언맨","헐크","스파이더맨"]
print(std_list)

print(std_list[0])
print(std_list[1]) # 오답노트:따로 따로 적어야 했음을 몰랐음. 프린트 함수 미사용.
print(std_list[2])

['아이언맨', '헐크', '스파이더맨']
아이언맨
헐크
스파이더맨

In [207]:
# 문제 3
a=["아이언맨","헐크","스파이더맨"]
a.append("타노스")
a.append("앤트맨")
a


# 선생님 답
정답

TypeError: list.append() takes exactly one argument (2 given)

In [210]:
# 문제4
a[3]="다노스"
a

# 오답노트: 다노스에 ""를 넣지 않았음.

['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']

In [6]:
# 문제5
a=["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
a.remove("앤트맨")
a.remove("아이언맨")
a.remove("스파이더맨")
a.remove("타노스")
a

#선생님 답 
std_list[1] # 지워서 하는것 보다 이렇게 하는것이 더 빠름.

'헐크'

In [211]:
#문제6
청소당번=["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
청소당번.remove("아이언맨")
청소당번.remove("앤트맨")
청소당번

# 선생님 답 슬라이싱 이용
a[1:4] # 인덱스 위치가 1~3번까지 출력. 더 간단

['헐크', '스파이더맨', '다노스']

In [9]:
# 문제7
a=["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
a.remove("헐크")
a
# 정답

# 선생님 답. 답 여러가지. del이나 remove
# 다른 정답
del std_list["헐크"]
std_list

TypeError: list indices must be integers or slices, not str

In [190]:
# 문제8
a=["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
a.sort() # 한글은 ㄱㄴㄷ순으로 정렬이 됨.
a
# 정답.

['스파이더맨', '아이언맨', '앤트맨', '타노스', '헐크']