In [4]:
# 튜플 자료형
t1 = ()                       # 빈 튜플
t2 = (1,)                     # 1원소를 가진 튜플 #
t3 = (1,2,3)                  # 1,2,3 원소를 가진 튜플
t4 = 1,2,3                    # 1,2,3 원소를 가진 튜플
t5 = ('a','b',('ab','cd'))    # 튜플안의 또 다른 튜플을 가진 튜플
t6 = tuple([1])               # iterable(반복)이 되는 값을 인수로 가짐
t7 = (1)                      # 1개는 숫자 혹은 문자형으로 표시
t8 = ("1")                    # 1개는 숫자 혹은 문자형으로 표시

In [6]:
print(t1)
print(t2)
print(t6)
print(t7)
print(t8)

()
(1,)
(1,)
1

NameError: name 't8' is not defined

In [8]:
# 변수의 형태를 볼 수 있는 type 함수
a = 1                           # int
b = "1"                         # str 
c = [1]                         # list
d = (1,)                        # tuple   튜플은 1개의 요소만 쓸땐 반드시 ,
e = (1)                         # int


print(type(a))
print(type(b))    
print(type(c))
print(type(d))
print(type(e)) # 콤마, 가 있고 없고의 차이가 큼.

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'int'>

In [9]:
# 튜플 요솟값을 삭제하려 할때. 에러가남. 바꾸려면 리스트로 바꿔야 함.변경 코드를 넣어야 함.
t1=(1,2,'a','b')
del t1[0] # 타입에러에서 알린듯이 튜플은객체를 삭제하는 아이템이 없음

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1=[1,2,'a','b']
del t1[0]

In [14]:
# 튜플 인덱싱 
t1 = (1,2,'a','b')
t1[0]

1

In [15]:
t1[3]

'b'

In [16]:
# 튜플 슬라이싱
t1 = (1,2,'a','b')
t1[1:]

(2, 'a', 'b')

In [18]:
# 튜플 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [20]:
t2 = (3,4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [21]:
# 튜플 길이 구하기
t1 = (1,2,'a','b')              튜플은 리스트와 수정제외 완전히 같다. 2트
len(t1)

4

In [23]:
# 문제1
# my_variable 이름의 비어있는 튜플 생성하기
t1 = ()
t1

# 정답

# 답
# my_variable = ()
# my_variable = tuple()

()

In [49]:
# 문제 2
t1 = (10)
t1

# 답
t1 = (10,) # 오답. 뒤에 콤마 생략함.
t1

(10,)

In [50]:
# 문제 3# 1,2,3,4 원소를 가진 튜플

# 답
type((1,2,3,4)) # 데이터 타입은 튜플.

tuple

In [47]:
# 문제4
t = ("a","b","c")
t = ("A","b","c")
t

# 정답

# 답
# t[0] = 'A'로 수정 불가. 오류. 무조건 전체를 덮어씌워야 함

('A', 'b', 'c')

In [51]:
# 문제 5 #(list 함수를 사용)
# interest = ('삼성전자','lg전자', 'sk hynix')
interest = ('삼성전자','lg전자','sk hynix')
interest = ['삼성전자','lg전자','sk hynix']
interest

# 답. 오답노트: 리스트 함수를 썼어야 함
interest = ('삼성전자','lg전자','sk hynix')
list(interest)

['삼성전자', 'lg전자', 'sk hynix']

In [60]:
# 문제6 #(tuple 함수 사용a=[1,2,3]
print(a[2]))
interest = ['삼성전자','lg전자','sk hynix']
interest = ('삼성전자','lg전자','sk hynix')
interest

# 답

interest = ['삼성전자','lg전자','sk hynix']
tuple(interest)

SyntaxError: unmatched ')' (3712920173.py, line 2)

In [63]:
t1 = (2,3)
# t1.append(4)             # 튜플은 추가가 불가능하다 3트
# t1. insert(2,1)
t2 = (3,4)
t1 + t2

(2, 3, 3, 4)