In [1]:
# 집합.
# ㄴㄴ집합의 성질
# ㄴㄴㄴ 집합에는 같은 숫자를 넣지 않는다. 제외시키는 성질을 갖고 있음. 집합의 연산과 교 합집합을 배워보자. set도.

In [1]:
#복습

#[] = 리스트 자료형
#ㄴ 추가, 수정, 삭제 순서 중복가능.
#ㄴㄴ 중복 삭제가 가능한 뭐 학급 인원 리스트 등. 동명이인의 경우도o
#{} = 딕셔너리
#ㄴ 추가, 수정, 삭제 가능. 순서와 지정 불가능. 즉 튜플과 정반대.
#() = 튜플
#ㄴ 추가, 수정, 삭제 불가능. 순서 지정 가능. 중복은 배우진 않았지만
#가능.(set은 불가)
#ㄴㄴ 이런 속성을 가진 컨텐츠는 드물어서 잘 안쓰임. 불변이라.
#세개를 배웠다. 주로 리스트나 딕셔너리로 충분히 개발 가능.

In [4]:
# 집합 자료형(set)
# 기호는 특별하게 없고 함수로 사용. 리스트 튜플 딕셔너리는 잘 안쓰고 기호로 사용
#했지만.
s1 = set([1,2,3])
s1                     #중괄호가 쳐져 있지만 집합이다. 소중대괄호 전부 사용 가능.
s2 = {1,2,3}
print(s2)

{1, 2, 3}

In [6]:
# 문자열도 집합으로 사용 가능. 당연히
s2 = set("hello")
s2      # 집합은 순서가 중요하지 않음. 컴퓨터마다 처리가 달라서 위치도 매번 다름.
# l이 빠진것은 확실함. 중복을 허용치 않기 때문.

{'e', 'h', 'l', 'o'}

In [10]:
s2 = {1,2,2,3}
s2 # 숫자 역시 중복 불허.
s3 = (1,2,2,3) # 튜플은 중복을 허용하기 떄문에 2가 두개 출력.
s3 # 즉 괄호가 의미하는게 굉장히 큼.

(1, 2, 2, 3)

In [12]:
# 집합은 순서가 없기 때문에 인덱싱을 통해 요솟값을 얻을 수 없다.
# 인덱싱으로 접근하려면 리스트나 튜플로 변환한 후에 해야한다.
s3[0] # 리스트

1

In [14]:
s2[0] # 에러. s2는 집합이었기 때문에.

TypeError: 'set' object is not subscriptable

In [15]:
s2 = {1,2,2,3}    #변수 s2의 인수는 1,2,2,3
l2 = list(s2)     #s2를 엘(l)2로 변환. 리스트로 변환

print(l2[0])       #l2의 0번째 인덱싱을 뽑겠다.
print(l2)          #출력.
# 변수는 숫자로 시작할 수 없다. 일이 아닌 엘
# 요솟값(인수)을 뽑기 위해선 대괄호 사이에 인덱싱 번호 2트

1
[1, 2, 3]

In [16]:
>>> s1 = set([1, 2, 3, 4, 5, 6])
>>> s2 = set([4, 5, 6, 7, 8, 9])

In [17]:
# 교집합 구하기
# &나 intersection함수를 이용
print(s1& s2)
s1.intersection(s2) # intersection= 단어뜻 그대로 교집.

{4, 5, 6}

{4, 5, 6}

In [20]:
#합집합 구하기. 중복값은 1개만 표현
print(s1 | s2)  # |는 엔터 위에 버티컬 바. \를 시프트키를 쳐서 작성가능.
s1.union(s2) # 내장 함수는 .앞에 함수 뒤에 바로 괄호. 이후 시프트엔터. 바로발동.2트.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [23]:
# 차집합 구하기. 
print(s1 - s2) # s1을 기준으로 s2를 뺀다.
print(s2 - s1) # s2를 기준으로 s1을 뺀다.
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [24]:
# 집합 자료형 관련 함수
#1. add 함수. 값 1개 추가하기. 비슷한 개념=  append, insert 함수. 
# add는 집합에서만 사용
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [26]:
#2. update 함수. 값 여러개 추가하기. dict의 업데이트 함수와 비슷
s1 = set([1,2,3])
s1.update([4,5,6]) # 함수는 . 함수 소괄호가 기본 베이스. 사이에 리스트로 대괄호든 딕셔너리의 중괄호든 자유 2트
s1          # 셋은 중복을 불허키 때문에 3을 넣는다고 해도 무시가 됨.

{1, 2, 3, 4, 5, 6}

In [33]:
#3. remove - 특정값 제거.
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

In [46]:
# 문제 1. 지금까지 배운것 총동원.
# 자연수 13이 홀수인지 짝수인지 판별 할 수 있는 방법에 대해서 적어보시오
홀수 = ['1','3','5','7','9','11','13','15']
print('13' in 홀수)

# 답 퍼센트%로 구하기.
a = 13
# a % 2 나머지가 0인것은 짝수이고 나머지가 1인것은 홀수
a = a % 2
a

b = 14
b = b % 2
b

True

0

In [47]:
# 문제 2
# 주번 뒷자리 맨 첫번째 숫자가 성별을 나타낸다. ex)960924 
# 이때 주번에서 성별을 나타내는 숫자를 출력하시오. 
# 답 못적음.
# 선생님 답
a = "960924-1205019"
a[7] # 인덱싱 가져오기. 인덱스번호 7번. 가져올땐 대괄호안에 인덱스 번호 입력. 3트.

'1'

In [51]:
# 문제 3
a = [1,1,1,2,2,3,3,3,4,4,5]
a = set(a) # a리스트를 집합 자료형으로 변환하는 코드 작성
a = list(a) # 집합 자료형을 리스트 자료형으로 다시 변환하는 코드 작성
a

[1, 2, 3, 4, 5]

In [61]:
 a = ["1","2","3","4"]
 a[3]

'4'