In [9]:
import csv, os

print(os.getcwd())
# a.csv파일이 있는 폴더로 이동
os.chdir(r'd:\240507-edu1\python-data-analysis1\20240626')

f = open('a.csv', 'r', encoding='utf-8') # 읽기 모드로 a.csv파일을 open
new = csv.reader(f)    # csv.reader로 csv파일 내용을 읽어 new변수에 담기
# new -> [['국어', '영어', '수학'],['90', '80', '100']]
print(new)
for i in new:
    print(i)
    print(type(i))

# 다시 csv데이터 커서 위치를 처음 위치로 되돌려놓기
f.seek(0)

a_list = []
for i in new:
    print(i)
    a_list.append(i)
print('a_list ->', a_list)

d:\240507-edu1\python-data-analysis1\20240626
<_csv.reader object at 0x00000280EBC41180>
['국어', '영어', '수학']
<class 'list'>
['90', '80', '100']
<class 'list'>
['국어', '영어', '수학']
['90', '80', '100']
a_list -> [['국어', '영어', '수학'], ['90', '80', '100']]

In [10]:
def opencsv(filename):
    f = open(filename, 'r', encoding='utf-8') # 읽기 모드로 a.csv파일을 open
    reader = csv.reader(f)    # csv.reader로 csv파일 내용을 읽어 new변수에 담기
    output = []
    for i in reader:
        output.append(i)
    return output

In [11]:
opencsv('a.csv')

[['국어', '영어', '수학'], ['90', '80', '100']]

In [14]:
a = [
        ['구', '전체', '내국인', '외국인'],
        ['관악구', '519864', '502089', '17775'],
        ['강남구', '547602', '231315', '8721'],
        ['송파구', '652851', '678244', '5121'],
        ['강동구', '428585', '452253', '8844']
    ]
f = open('abc.csv', 'w', encoding='utf-8', newline= '')
csv_object = csv.writer(f, delimiter=',')
csv_object.writerows(a)
f.close()

In [17]:
def writecsv(fliename, the_list):
    with open(fliename, 'w', newline = '', encoding='utf-8') as f:
        csv_object = csv.writer(f, delimiter=',')
        csv_object.writerows(the_list)

In [19]:
writecsv('abc.csv', a)

In [20]:
import os
import usecsv

total = usecsv.opencsv(r'D:\240507-edu1\python-data-analysis1\20240626\popSeoul2023.csv')
for i in total[:5]:
    print(i)

['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  ']
['종로구', ' 152,212 ', ' 141,060 ', ' 11,152 ', ' 28,265 ']
['중구', ' 131,390 ', ' 120,963 ', ' 10,427 ', ' 25,353 ']
['용산구', ' 232,482 ', ' 217,756 ', ' 14,726 ', ' 39,478 ']
['성동구', ' 287,240 ', ' 280,240 ', ' 7,000 ', ' 48,238 ']

In [21]:
i = '123'
print(float(i))
print(int(i))

123.0
123

In [11]:
float('152,212')

ValueError: could not convert string to float: '152,212'

In [23]:
float(' 152,212 '.replace(',', ''))

152212.0

In [9]:
import re

i = total[1]  # ['종로구'," 152,212 "," 141,060 "," 11,152 "," 28,265 "]
print(i)

k = []
for j in i:
    if re.search(r'\d', j):
        k.append(float(j.replace(',', '')))
    else:
        k.append(j)

print(k)

['종로구', ' 152,212 ', ' 141,060 ', ' 11,152 ', ' 28,265 ']
['종로구', 152212.0, 141060.0, 11152.0, 28265.0]

In [10]:
p = ['123강남', '151,767','11,093','27,394']

k = []
for j in p:
    if re.search(r'\d', j):
        k.append(float(j.replace(',', '')))
    else:
        k.append(j)

print(k)

ValueError: could not convert string to float: '123강남'

In [36]:
p = ['123!!', '151,767','11,093','27,394']

k = []
for j in p:
    if re.search(r'[a-z가-힣!]', j):
        k.append(j)
    else:
        k.append(float(j.replace(',', '')))

print(k)

['123!!', 151767.0, 11093.0, 27394.0]

In [37]:
for j in p:
    if re.search(r'[a-z가-힣!]', j):
        p[p.index(j)] = j
    else:
        p[p.index(j)] = float(j.replace(',', ''))

print(p)

['123!!', 151767.0, 11093.0, 27394.0]

In [12]:
i = ['123!!', '151,767','11,093','27,394', '', '!!!$%#$']

for j in i:
    if re.search(r'[a-z가-힣!]', j):
        i[i.index(j)] = j
    else:
        try:
            i[i.index(j)] = float(j.replace(',', ''))
        except:
            pass

for j in i:     # 위 코드와 본 코드는 동일.
        try:
            i[i.index(j)] = float(j.replace(',', ''))
        except:
            pass        

print(i)

['123!!', 151767.0, 11093.0, 27394.0, '', '!!!$%#$']

In [1]:
import usecsv

total = usecsv.opencsv(r'D:\python-prectice1\prectice_python\2024_06_26_wed\popSeoul2023.csv')
print(total)
usecsv.switch(total)

[['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  '], ['종로구', ' 152,212 ', ' 141,060 ', ' 11,152 ', ' 28,265 '], ['중구', ' 131,390 ', ' 120,963 ', ' 10,427 ', ' 25,353 '], ['용산구', ' 232,482 ', ' 217,756 ', ' 14,726 ', ' 39,478 '], ['성동구', ' 287,240 ', ' 280,240 ', ' 7,000 ', ' 48,238 '], ['광진구', ' 350,925 ', ' 336,801 ', ' 14,124 ', ' 54,854 '], ['동대문구', ' 354,884 ', ' 337,574 ', ' 17,310 ', ' 65,154 '], ['중랑구', ' 389,928 ', ' 385,003 ', ' 4,925 ', ' 76,116 '], ['성북구', ' 441,855 ', ' 430,100 ', ' 11,755 ', ' 78,427 '], ['강북구', ' 296,934 ', ' 292,762 ', ' 4,172 ', ' 67,056 '], ['도봉구', ' 312,858 ', ' 310,509 ', ' 2,349 ', ' 68,114 '], ['노원구', ' 506,989 ', ' 502,515 ', ' 4,474 ', ' 93,279 '], ['은평구', ' 468,766 ', ' 464,871 ', ' 3,895 ', ' 90,556 '], ['서대문구', ' 321,966 ', ' 308,437 ', ' 13,529 ', ' 56,785 '], ['마포구', ' 376,542 ', ' 365,570 ', ' 10,972 ', ' 56,582 '], ['양천구', ' 442,345 ', ' 439,219 ', ' 3,126 ', ' 73,522 '], ['강서구', ' 573,711 ', ' 568,287 ', ' 5,424 ', ' 98,659 '], ['구로구', ' 417,983 ', ' 395,183 ', ' 22,800 ', ' 77,259 '], ['금천구', ' 242,467 ', ' 229,307 ', ' 13,160 ', ' 43,772 '], ['영등포구', ' 398,999 ', ' 376,614 ', ' 22,385 ', ' 66,014 '], ['동작구', ' 390,377 ', ' 380,201 ', ' 10,176 ', ' 68,766 '], ['관악구', ' 502,628 ', ' 487,815 ', ' 14,813 ', ' 83,420 '], ['서초구', ' 408,979 ', ' 404,831 ', ' 4,148 ', ' 63,328 '], ['강남구', ' 537,817 ', ' 532,798 ', ' 5,019 ', ' 83,097 '], ['송파구', ' 663,704 ', ' 658,006 ', ' 5,698 ', ' 105,161 '], ['강동구', ' 464,027 ', ' 459,982 ', ' 4,045 ', ' 79,706 ']]

[['구 ', ' 계   ', ' 한국인  ', ' 등록외국인  ', ' 고령자  '],
 ['종로구', 152212.0, 141060.0, 11152.0, 28265.0],
 ['중구', 131390.0, 120963.0, 10427.0, 25353.0],
 ['용산구', 232482.0, 217756.0, 14726.0, 39478.0],
 ['성동구', 287240.0, 280240.0, 7000.0, 48238.0],
 ['광진구', 350925.0, 336801.0, 14124.0, 54854.0],
 ['동대문구', 354884.0, 337574.0, 17310.0, 65154.0],
 ['중랑구', 389928.0, 385003.0, 4925.0, 76116.0],
 ['성북구', 441855.0, 430100.0, 11755.0, 78427.0],
 ['강북구', 296934.0, 292762.0, 4172.0, 67056.0],
 ['도봉구', 312858.0, 310509.0, 2349.0, 68114.0],
 ['노원구', 506989.0, 502515.0, 4474.0, 93279.0],
 ['은평구', 468766.0, 464871.0, 3895.0, 90556.0],
 ['서대문구', 321966.0, 308437.0, 13529.0, 56785.0],
 ['마포구', 376542.0, 365570.0, 10972.0, 56582.0],
 ['양천구', 442345.0, 439219.0, 3126.0, 73522.0],
 ['강서구', 573711.0, 568287.0, 5424.0, 98659.0],
 ['구로구', 417983.0, 395183.0, 22800.0, 77259.0],
 ['금천구', 242467.0, 229307.0, 13160.0, 43772.0],
 ['영등포구', 398999.0, 376614.0, 22385.0, 66014.0],
 ['동작구', 390377.0, 380201.0, 10176.0, 68766.0],
 ['관악구', 502628.0, 487815.0, 14813.0, 83420.0],
 ['서초구', 408979.0, 404831.0, 4148.0, 63328.0],
 ['강남구', 537817.0, 532798.0, 5019.0, 83097.0],
 ['송파구', 663704.0, 658006.0, 5698.0, 105161.0],
 ['강동구', 464027.0, 459982.0, 4045.0, 79706.0]]

In [3]:
import os
os.chdir('C:\users\python')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \uXXXX escape (1243154318.py, line 2)

In [5]:
import os
os.chdir(total = usecsv.opencsv(r'D:\python-prectice1\prectice_python\2024_06_26_wed\popSeoul2023.csv'))

TypeError: chdir() missing required argument 'path' (pos 1)